*{
    font-family: "Open Sans", Helvetica, sans-serif; 
}

body{
    padding-bottom: 60px;
}

.title{
    text-align: center;
    margin-top: 15px;
}

#completed{
    position: absolute;
    left: 175px;
    margin: 15px;
    display: none;
}

@media (max-width: 1200px){
        .test2 {
            display: flex;
            flex-direction: column-reverse;
        }
        #completed{
            position: relative;
            left: 0;
            margin: 10px auto;
        }
}

.addItem{
    max-width: 500px;
    margin: 15px auto;
}

#add{
    background-color: hsl(130, 100%, 33%);
    color: white;
}

.fullItem{
    max-width: 500px;
    margin: 0 auto;
}

#listItem{
    background-color: rgba(255, 255, 255, 0.897);
}

.input-group-text{
    background-color: hsl(300, 100%, 33%);
    border: none;
}


.myFooter{
    -webkit-animation: cyclecolors linear;
    -webkit-animation-duration: 90s;
    -webkit-animation-iteration-count: infinite;
    animation: cyclecolors;
    animation-duration: 90s;
    animation-iteration-count: infinite;
    font-family: "Open Sans", Helvetica, sans-serif;
    color: white;
    padding-top: 5px;
    height: 50px;
    background-color: hsl(300, 100%, 33%);
}

@keyframes cyclecolors{
0% {
    background-color: hsl(300, 100%, 33%);
}
16% {
    background-color: hsl(212, 100%, 49%);
}
32% {
    background-color: hsl(130, 100%, 33%);
}
48% {
    background-color: #fdc345;
}
64% {
    background-color: #f89438;
}
96% {
    background-color: #e65453;
}
}