*{
    font-family: "Open Sans", Helvetica, sans-serif; 
}

body{
    padding-bottom: 60px;
}

.title{
    text-align: center;
    margin-top: 15px;
}

#completed{
    display: none;
    margin: 0 auto;
    float: right;
    margin-top: 15px;
}

@media (max-width: 990px){
    #completed{
        float: none;
        margin: 0 auto;
        display: none;
    }
    .test2{
        padding-left: 35px;
    }
}

.addItem{
    max-width: 520px;
    margin: 15px auto;
    float: left;
    padding-left: 20px;
}

#add{
    background-color: hsl(130, 100%, 33%);
    color: white;
}

.empty{
    margin: 0 auto; 
}

.fullItem{
    max-width: 520px;
    margin: 10px auto;
    float: left;
    padding-left: 20px;
}

.rowItem{
}

#listItem{
    background-color: rgba(255, 255, 255, 0.897);
}

.input-group-text{
    background-color: hsl(300, 100%, 33%);
    border: none;
}


.myFooter{
    -webkit-animation: cyclecolors linear;
    -webkit-animation-duration: 90s;
    -webkit-animation-iteration-count: infinite;
    animation: cyclecolors;
    animation-duration: 90s;
    animation-iteration-count: infinite;
    font-family: "Open Sans", Helvetica, sans-serif;
    color: white;
    padding-top: 5px;
    height: 50px;
    background-color: hsl(300, 100%, 33%);
}

@keyframes cyclecolors{
0% {
    background-color: hsl(300, 100%, 33%);
}
16% {
    background-color: hsl(212, 100%, 49%);
}
32% {
    background-color: hsl(130, 100%, 33%);
}
48% {
    background-color: #fdc345;
}
64% {
    background-color: #f89438;
}
96% {
    background-color: #e65453;
}
}